* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f3f3f3;
    height: 100vh;
    display: grid;

    grid-template-areas:
    'nav header sidebar'
    'nav content sidebar'
    'nav footer footer';

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 70px;
}

main,
header,
aside,
nav,
footer {
    background-color: steelblue;
    color: white;
    border: solid 1px skyblue;
    text-align: center;
}

header {
    grid-area: header;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: sidebar;
}